.body {
  margin: auto;
  background: white;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  width: 980px;
  position: relative;
}
.body .left {
  margin-right: 250px;
  border-right: 1px solid #d3d3d3;
  padding: 0 20px 20px 20px;
}
.body .left .hot_recommend .hr_content {
  margin: 20px 0px 20px -42px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.body .left .hot_recommend .hr_content .content_navbar {
  width: 140px;
  position: relative;
  margin-left: 42px;
}
.body .left .hot_recommend .hr_content .content_navbar .img {
  position: relative;
}
.body .left .hot_recommend .hr_content .content_navbar .img .cover {
  height: 140px;
  width: 140px;
}
.body .left .hot_recommend .hr_content .content_navbar .img .messge {
  height: 27px;
  position: absolute;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  bottom: 0px;
  padding: 0 5px;
  background-color: rgba(192, 192, 192, 0.5);
  color: white;
}
.body .left .hot_recommend .hr_content .content_navbar .title {
  width: 100%;
  overflow: hidden;
  word-wrap: normal;
  white-space: pre-wrap;
}
.body .left .new_CD .new_content {
  background-color: #f5f5f5;
  margin-top: 20px;
  border: 1px solid #fff;
}
.body .left .new_CD .new_content .avbar_list {
  padding: 30px 0px;
  display: flex;
  overflow: hidden;
  width: 645px;
  margin: auto;
}
.body .left .new_CD .new_content .avbar_list .navbar {
  display: flex;
  flex-direction: column;
  margin: 0px 5.5px;
}
.body .left .new_CD .new_content .avbar_list .navbar .CD_cover {
  height: 100px;
  width: 118px;
}
.body .left .new_CD .new_content .avbar_list .navbar .CD_title {
  display: inline-block;
}
.body .left .new_CD .new_content .avbar_list .navbar .CD_author {
  display: inline-block;
  color: #666;
  font-size: 12px;
}
.body .left .top_list .tl_content {
  border: 1px solid #d7d7d7;
  margin-top: 20px;
  background-color: #f4f4f4;
  display: flex;
}
.body .left .top_list .tl_content .content_rise {
  border-right: 1px solid #d2d2d2;
  width: 33.33333%;
}
.body .left .top_list .tl_content .content_rise:nth-child(n+3) {
  border: none;
}
.body .left .top_list .tl_content .content_rise header {
  display: flex;
  padding: 20px;
}
.body .left .top_list .tl_content .content_rise header .content_action {
  position: relative;
  margin-left: 5px;
  padding: 5px 0px;
}
.body .left .top_list .tl_content .content_rise header .content_action .action_play {
  height: 22px;
  width: 22px;
  border: 1px solid black;
}
.body .left .top_list .tl_content .content_rise header .content_action .action_play {
  height: 22px;
  width: 22px;
  border: 1px solid black;
}
.body .left .top_list .tl_content .content_cover {
  height: 80px;
  width: 80px;
}
.body .left .top_list .tl_content .list {
  padding-left: 0px;
  margin: 0px;
}
.body .left .top_list .tl_content .list .list_index {
  display: inline-block;
  width: 20px;
}
.body .left .top_list .tl_content .list .list_index_active {
  color: #c10d0a;
}
.body .left .top_list .tl_content .list li {
  list-style-type: none;
  padding: 5px 20px;
}
.body .left .top_list .tl_content .list li:nth-child(2n+1) {
  background-color: #e8e8e8;
}
.body .right {
  padding: 20px;
  position: absolute;
  left: 728px;
  top: 0px;
  width: 250px;
}
.body .right .head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.body .right .songer {
  display: flex;
}
.body .right .songer:not(:last-child) {
  margin-bottom: 20px;
}
.body .right .songer img {
  height: 62px;
  width: 62px;
}
.body .right .songer .songer_name {
  position: relative;
  flex: 1;
  padding: 5px 10px;
  font-size: 17px;
  color: black;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}
.body .right .songer .songer_name .songer_scr {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 12px;
  color: #666;
}
.content_head {
  width: 100%;
  border-bottom: 2px solid #C10D0C;
  display: flex;
  align-items: center;
  position: relative;
  height: 35px;
}
.content_head .title {
  font-size: 20px;
  padding: 0 10px;
}
.content_head .tab {
  padding: 0 10px;
  font-size: 12px;
}
.content_head .more {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/* For demo */
:global .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
:global .ant-carousel .slick-slide h3 {
  color: #fff;
}
